# OS-Müll
.DS_Store

# Node / Next.js
node_modules/
.next/
out/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env / Secrets
.env
.env.local
.env.*.local
.env.test

# Python 
.venv/
__pycache__/


.vercel
*.tsbuildinfo
next-env.d.ts
