@import "tailwindcss";

:root {
  --background: #fafafa; 
  --foreground: #27272a; 
  
  /* OBI Orange als Variable für spätere Nutzung */
  --primary-obi: #f97316; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
}

/*Dark Mode Anpassung an Zinc-950 (dunkles Grau statt hartes Schwarz) */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b; /* Zinc-950 */
    --foreground: #fafafa; /* Zinc-50 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Verhindert das graue Aufleuchten bei Touch-Interaktionen auf Mobile */
  -webkit-tap-highlight-color: transparent;
}

/* Verhindert "Bouncing" der ganzen Seite auf iOS */
html {
    overscroll-behavior-y: none;
}